<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="card-body">
					
			
					
					<ul class="list-group">
						<li class="form-group">
							<label>Student First Name:</label>
							<p th:text = "${student.firstName}"> </p>
						</li>
						
						<li class="form-group">
							<label>Student Last Name:</label>
							<p th:text = "${student.lastName}"> </p>
						</li>	
						
						
							
						<li class="form-group">
							<label>Student Email:</label>
							<p th:text = "${student.email}"> </p>
						</li>
						
						
						</ul>
					
				
				
				</div>


</body>
</html>